.navbar-custom {
    background-color: rgb(51, 115, 167);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

.navbar-custom a { 
    color: white; 
    font-size: 22px;
} 

.navbar-expand-md {
         visibility: hidden;
}

.navbar-expand-sm {
         visibility: hidden;
     }

.open,
.dropdown-menu {
    background-color: rgb(51, 115, 167);
}

.header_home1 {
    font-size: 50px;
    font-weight: 500;
    color: rgb(51, 115, 167);
    /* text-decoration: underline; */
    text-shadow: 2px 2px gray;
}

.header_home2 {
    font-size: 40px;
    font-weight: 500;
    color: rgb(51, 115, 167);
    text-align: center;
}

.header_sub {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: rgb(51, 115, 167);
    margin-bottom: 25px;
}

.header_indepth {
    font-size: 50px;
    font-weight: 500;
    color: rgb(51, 115, 167);
    text-align: center;
    /* text-decoration: underline; */
    /* text-shadow: 2px 2px gray; */
}

.figcaption_comp {
    background-color: rgb(51, 115, 167);
    color: white;
    font-size: 25px;
    font-weight: 400;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 10px;
    padding-top: 25px;
    margin-left: 25px;
}

.figcaption_home {
    background-color: rgb(51, 115, 167);
    color: white;
    font-size: 25px;
    font-weight: 400;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.figcaption_indepth {
    background-color: rgb(51, 115, 167);
    color: white;
    font-size: 25px;
    font-weight: 400;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.table {
    color: rgb(51, 115, 167);
    font-weight: 400; 
}

.table_head {
    background-color: rgb(51, 115, 167);
    color: white;
}

.figcaption_regression {
    background-color: rgb(51, 115, 167);
    color: white;
    font-size: 25px;
    font-weight: 400;
    padding: 15px;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 25px;
}

.figcaption_caption {
    background-color: rgb(51, 115, 167);
    color: white;
    font-size: 17px;
    font-weight: 400;
    padding-top: 15px;
}

.paragraph {
    margin-bottom: 50px;
}


@media only screen and (min-width: 501px) and (max-width: 1000px) {
     .navbar li {
         visibility: unset;
     }

     .navbar-expand-md {
         visibility: visible;
         padding-top: 0px;
         margin-top: 0px;
     }

     .navbar-expand-lg {
         visibility: hidden;
     }

     .navbar-expand-sm {
         visibility: hidden;
     }
}

@media only screen and (max-width: 900px) {
     .navbar li {
         visibility: unset;
     }

     .navbar-expand-sm {
         visibility: visible;
         padding-top: 0px;
         margin-top: 0px;
     }

     .navbar-expand-lg {
         visibility: hidden;
     }

     .navbar-expand-md {
         visibility: hidden;
     }
}