.navbar-custom {
    background-color: rgb(51, 115, 167);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

.navbar-custom a { 
    color: white; 
} 

.open,
.dropdown-menu {
    background-color: rgb(51, 115, 167);
}

.header1 {
    font-size: 50px;
    font-weight: 500;
    color: rgb(51, 115, 167);
}

.header2 {
    font-size: 50px;
    font-weight: 500;
    color: rgb(51, 115, 167);
    text-align: center;
}
